<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Music App</title>
        {% else %}
        <title>Welcome to Music App</title>
        {% endif %}
    </head>
    <body>
        <div>
            <a href="{{ url_for('index') }}">Ithaca Music</a>
            <a href="{{ url_for('artists') }}">Artists</a>
            <a href="{{ url_for('new_artists') }}">New Artists</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>