{% extends "base.html" %}

{% block content %}
    <h2>Add New Artist</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.songs.label }}
            {{ form.songs(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.general_info.label }}
            {{ form.general_info(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
